dist
.vscode
.pytest_cache
.mypy_cache/
.tox/
.venv/
_build/
buck-out/
build/
dist/
env
hurst_estimators.egg-info

# Ignore Sphinx build directory
/docs/build/
/docs/source/_build/
/docs/source/.doctrees/
/docs/source/.buildinfo

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp
*.swo
*.DS_Store

# Ignore virtual environments
.venv/
.venv-*/
.venv.bak/

# Ignore .env files
.env
